{% extends 'moderation/base.html.twig' %}

{% block body %}
	{# Back Button #}
	<a class="btn btn-primary mb-4" href="{{ path('app_moderation_comments', {'auth': auth, 'user': user}) }}" role="button">Back to list</a>

	{# Comment Details #}
	{% if not comment_found %}
		<div class="alert alert-danger" role="alert">
			Comment not found.
		</div>
	{% else %}
		<form class="mb-5">

			{# Title #}
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" value="{{ comment.title }}" disabled>
			</div>

			{# Toxicity Explanation #}
			<div class="form-group">
				<label for="toxicityExplanation">Toxicity Explanation</label>
				<textarea class="form-control" id="toxicityExplanation" rows="2" disabled>{{ comment.toxicityReasons }}</textarea>
			</div>

			{# Comment #}
			<div class="form-group">
				<label for="comment">Comment</label>
				<textarea class="form-control" id="comment" rows="5" disabled>{{ comment.comment }}</textarea>
			</div>

			{# URL #}
			<div class="form-group">
				<label for="url">URL</label>
				<p id="url">
					<a href="{{ comment.url }}" target="_blank">{{ comment.url }}</a>
				</p>
			</div>

			{# Guidelines Reference #}
			<div class="form-group">
				<label for="guidelinesReference">Guidelines Reference</label>
				<textarea class="form-control" id="guidelinesReference" rows="2" disabled>{{ comment.violatedGuideline }}</textarea>
			</div>

			{# Rephrasing Options #}
			<div class="form-group">
				<label>Rephrasing Options</label>
				<div class="position-relative mb-1">
					<textarea class="form-control" id="rephrasingOption0" rows="2" style="padding-right: 90px;" disabled>{{ comment.rephrasedTextOptions[0] }}</textarea>
					<div class="position-absolute top-0 end-0">
						<button class="btn btn-sm btn-outline-primary" onclick="copyReply(`{{ strings_to_reply[0] }}`);" type="button">Copy reply</button>
					</div>
				</div>
				<div class="position-relative mb-1">
					<textarea class="form-control" id="rephrasingOption1" rows="2" style="padding-right: 90px;" disabled>{{ comment.rephrasedTextOptions[1] }}</textarea>
					<div class="position-absolute top-0 end-0">
						<button class="btn btn-sm btn-outline-primary" onclick="copyReply(`{{ strings_to_reply[1] }}`);" type="button">Copy reply</button>
					</div>
				</div>
				<div class="position-relative">
					<textarea class="form-control" id="rephrasingOption2" rows="2" style="padding-right: 90px;" disabled>{{ comment.rephrasedTextOptions[2] }}</textarea>
					<div class="position-absolute top-0 end-0">
						<button class="btn btn-sm btn-outline-primary" onclick="copyReply(`{{ strings_to_reply[2] }}`);" type="button">Copy reply</button>
					</div>
				</div>
			</div>

			<h4 class="mt-4">Outcome</h4>

			{# Toxicity level #}
			<div class="form-group">
				<label for="toxicityLevel">Toxicity level</label>
				{% set options = {
					0: {color: 'success', text: 'false positive', comment: 'This comment is not considered as toxic.'},
					1: {color: 'warning', text: 'mildly offensive', comment: 'This comment is not something you would like to see but you don\'t do anything about it (yet).'},
					2: {color: 'danger', text: 'very offensive', comment: 'This comment is toxic and you took action.'},
				} %}
				{% for case in enum('App\\Model\\ToxicityLevel').cases %}
					<div class="form-check mb-1">
						<input class="form-check-input" type="radio" name="toxicityLevel"
							id="toxicityLevel{{ case.value }}" value="{{ case.value }}"
							{% if moderation.toxicityLevel.value ?? null is same as case.value %} checked {% endif %}>
						<label class="form-check-label" for="toxicityLevel{{ case.value }}">
							<span class="badge badge-pill badge-{{ options[case.value].color }}">
							{{ options[case.value].text }}</span>
							<spa class="ml-1">{{ options[case.value].comment }}</span></label>
					</div>
				{% endfor %}
			</div>
			
			{# Time used to handle this comment #}
			<div class="form-group">
				<label for="timeUsed">How much time did you need to handle this comment?</label>
				{% set options = {
					'<1m' : 'Less than 1 minute',
					'1m-5m' : '1 minute - 5 minutes',
					'5m-30m' : '5 minutes - 30 minutes',
					'30m-1h' : '30 minutes - 1 hour',
					'1h-4h' : '1 hour - 4 hours',
					'>4h' : 'More than 4 hours'
				} %}
				{% for case in enum('App\\Model\\TimeSelector').cases %}
					<div class="form-check mb-1">
						<input class="form-check-input" type="radio" name="timeUsed"
							id="timeUsed{{ case.value }}" value="{{ case.value }}"
							{% if moderation.timeUsed.value ?? null == case.value %} checked {% endif %}>
						<label class="form-check-label" for="timeUsed{{ case.value }}">
							{{ options[case.value] }}</label>
					</div>
				{% endfor %}
			</div>

			{# Satisfaction with toxicity explanation #}
			<div class="form-group">
				<label for="satisfactionToxicityExplanation">How satisfied are you with the
					<u>toxicity explanation</u>?</label>
				<div class="d-flex">
					{% for case in enum('App\\Model\\Satisfaction').cases %}
						<div class="form-check mr-5">
							<input class="form-check-input" type="radio" name="satisfactionToxicityExplanation"
								id="satisfactionToxicityExplanation{{ case.value }}" value="{{ case.value }}"
								{% if moderation.satisfactionToxicityExplanation.value ?? null == case.value %} checked {% endif %}>
							<label class="form-check-label" for="satisfactionToxicityExplanation{{ case.value }}">
								{{ case.name|replace({"_": " "})|lower|capitalize }}</label>
						</div>
					{% endfor %}
				</div>
			</div>

			{# Satisfaction with guidelines reference #}
			<div class="form-group">
				<label for="satisfactionGuidelinesReference">How satisfied are you with the
					<u>guidelines reference</u>?</label>
				<div class="d-flex">
					{% for case in enum('App\\Model\\Satisfaction').cases %}
						<div class="form-check mr-5">
							<input class="form-check-input" type="radio" name="satisfactionGuidelinesReference"
								id="satisfactionGuidelinesReference{{ case.value }}" value="{{ case.value }}"
								{% if moderation.satisfactionGuidelinesReference.value ?? null == case.value %} checked {% endif %}>
							<label class="form-check-label" for="satisfactionGuidelinesReference{{ case.value }}">
								{{ case.name|replace({"_": " "})|lower|capitalize }}</label>
						</div>
					{% endfor %}
				</div>
			</div>

			{# Satisfaction with rephrasing options #}
			<div class="form-group">
				<label for="satisfactionRephrasingOptions">How satisfied are you with the
					<u>rephrasing options</u>?</label>
				<div class="d-flex">
					{% for case in enum('App\\Model\\Satisfaction').cases %}
						<div class="form-check mr-5">
							<input class="form-check-input" type="radio" name="satisfactionRephrasingOptions"
								id="satisfactionRephrasingOptions{{ case.value }}" value="{{ case.value }}"
								{% if moderation.satisfactionRephrasingOptions.value ?? null == case.value %} checked {% endif %}>
							<label class="form-check-label" for="satisfactionRephrasingOptions{{ case.value }}">
								{{ case.name|replace({"_": " "})|lower|capitalize }}</label>
						</div>
					{% endfor %}
				</div>
			</div>

			{# Remarks #}
			<div class="form-group">
				<label for="remarks">Do you have any other remarks?</label>
				<textarea class="form-control" id="remarks" rows="5">{{ moderation.remarks }}</textarea>
			</div>

			{# Submit Button #}
			<div class="form-group mt-4 mb-5">
				<button type="button" class="btn btn-primary" id="submitButton" onclick="formSubmit();">Submit</button>
			</div>

		</form>
	{% endif %}
{% endblock %}

{# JS #}
{% block javascript %}
	const formSubmit = () => {
		{# check if Decision set #}
		if ($("input[name='toxicityLevel']:checked").length === 0) {
			alert("Please select a toxicity level.");
			return;
		}

		{# check if timeUsed != "" #}
		if ($("input[name='timeUsed']:checked").length === 0) {
			alert("Please enter the time used to handle this comment.");
			return;
		}

		{# check if satisfactionToxicityExplanation != "" #}
		if ($("input[name='satisfactionToxicityExplanation']:checked").length === 0) {
			alert("Please select a satisfaction level for the toxicity explanation.");
			return;
		}

		{# check if satisfactionGuidelinesReference != "" #}
		if ($("input[name='satisfactionGuidelinesReference']:checked").length === 0) {
			alert("Please select a satisfaction level for the guidelines reference.");
			return;
		}

		{# check if satisfactionRephrasingOptions != "" #}
		if ($("input[name='satisfactionRephrasingOptions']:checked").length === 0) {
			alert("Please select a satisfaction level for the rephrasing options.");
			return;
		}

		$.ajax({
			url: "{{ path('api_moderation_comment', {'auth': auth, 'user': user, 'moderation_id': moderation.id}) }}",
			type: "POST",
			data: {
				"toxicityLevel": $("input[name='toxicityLevel']:checked").val(),
				"timeUsed": $("input[name='timeUsed']:checked").val(),
				"satisfactionToxicityExplanation": $("input[name='satisfactionToxicityExplanation']:checked").val(),
				"satisfactionGuidelinesReference": $("input[name='satisfactionGuidelinesReference']:checked").val(),
				"satisfactionRephrasingOptions": $("input[name='satisfactionRephrasingOptions']:checked").val(),
				"remarks": $("#remarks").val(),
			},
			success: () => {
				alert("Data saved successfully.");
				window.location.href = "{{ path('app_moderation_comments', {'auth': auth, 'user': user}) }}";
			},
			error: () => {
				alert("There was an error saving the data.");
			},
		});
	};

	const copyReply = (text) => {
		navigator.clipboard
			.writeText(text)
			.then(() => {
				alert("Reply copied to clipboard.");
			})
			.catch(err => {
				alert("Failed to copy reply: " + err);
			});
	};
{% endblock %}
